spring:
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: http://localhost:9080/auth/realms/jhipster
        registration:
          oidc:
            client-id: web_app
            client-secret: web_app
            scope: openid,profile,email
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9080/auth/realms/jhipster
  cloud:
    gateway:
      default-filters:
        - TokenRelayWithTokenRefresh
